@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

//Colors

$blue: hsl(223, 87%, 63%);

$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);

$gray: hsl(0, 0%, 59%);
$very-dark-blue: hsl(209, 33%, 12%);

.hidden {
    display: none;
}

.error {
    border               : 2px solid red;
    border-radius        : 5px;
    color                : red;
    background-image     : url("../images/icon-error.svg");
    background-repeat    : no-repeat;
    background-position  : right;
    background-position-x: 95%;
}

body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (2000 - 300)));
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $very-dark-blue;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1>span {
        color: $gray;
        font-weight: 300;
    }

    span {
        margin-bottom: 2em;
    }

    .email-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        
        justify-content: space-around;

        & * {
            margin-bottom: 1em;
        }

        input {
            border-radius: 3em;
            padding: 1.5em 3em;
            width: 100%;
            border: 1px solid $pale-blue;
        }

        input::placeholder {
            font-family: 'Libre Franklin', sans-serif;
            font-size: 1.3em;
        }

        button {
            width: 125%;
            border-radius: 3em;
            padding: 1.7em 3em;
            background-color: $blue;
            color: white;
            font-family: 'Libre Franklin', sans-serif;
            font-weight: 600;
            border: none;
            box-shadow: 0 10px 10px rgba($color: $very-dark-blue, $alpha: 0.1);
        }

        @media only screen and (min-width: 768px) {
            flex-direction: row;
            width: 150%;
            justify-content: space-evenly;

            input {
                width: 60%;
            }

            button {
                margin-left: 1em;
                width: 30%;
            }
        }
    }
}

.hero-img {
    width: 80vw;
    max-width: 768px;
    margin-top: 4em;
    margin-bottom: 4em;

    img {
        width: 100%;
    }
}

.footer {
    display: flex;
    flex-direction: column;

    .social-icons {
        display: flex;
        justify-content: space-evenly;

        .icon {
            color: $blue;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            border: 1px solid $pale-blue;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    span {
        margin-top: 2em;
        color: $gray;
        font-size: 0.8em;
    }
}

.attribution {
    font-size : 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}